<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdminService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserService" />
                <binding name="WSHttpBinding_ISubscriptionService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-ecrdoum/DataService/Services/AdminService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
                contract="AdminService.IAdminService" name="BasicHttpBinding_IAdminService" />
            <endpoint address="http://desktop-ecrdoum/DataService/Services/UserService.svc/UserService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserService"
                contract="UserService.IUserService" name="WSHttpBinding_IUserService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-ECRDOUM" />
                </identity>
            </endpoint>
            <endpoint address="http://desktop-ecrdoum/DataService/Services/SubscriptionService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISubscriptionService"
                contract="SubscriptionService.ISubscriptionService" name="WSHttpBinding_ISubscriptionService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-ECRDOUM" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>