<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target name="jsonFile" xsi:type="File" fileName="..\Logs\WebApiLog_${date:format=yyyy-MM-dd}.log" archiveFileName="..\Logs\Archive\WebApiLog.{#}.log"
                archiveNumbering="Date"
                archiveEvery="Day"
                keepFileOpen="false"
                createDirs="true"
                maxArchiveFiles="14"
                archiveDateFormat="yyyyMMdd">
      <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Comma-separated list (string)">
        <attribute name="time" layout="${time}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" encode="false" />
      </layout>
    </target>
  </targets>
  <time xsi:type="FastUTC"/>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="jsonFile" />
  </rules>
</nlog>
