<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAdminService" />
        <binding name="BasicHttpBinding_ISubscriptionService">
          <security>
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IUserService">
          <security>
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64849/Services/SubscriptionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubscriptionService" contract="SubscriptionService.ISubscriptionService" name="BasicHttpBinding_ISubscriptionService" />
      <endpoint address="http://localhost:64849/Services/UserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService" contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:64849/Services/AdminService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService" contract="AdminService.IAdminService" name="BasicHttpBinding_IAdminService" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
   </system.web>
</configuration>
