<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DataService.UserService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:64849" />
          </baseAddresses>
        </host>
        <endpoint address="UserService.svc" binding="wsHttpBinding" contract="DataService.Interfaces.IUserService" bindingNamespace="http://localhost:64849/users" />
        <!--listenUri="http://localhost:64849/Service1.svc" />-->
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange" />
      </service>
      <service name="DataService.SubscriptionService">
        <endpoint address="" binding="wsHttpBinding" contract="DataService.Interfaces.ISubscriptionService" />
        <!--listenUri="http://localhost:64849/Service1.svc"-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="rebtelEntities" connectionString="metadata=res://*/rebModel.csdl|res://*/rebModel.ssdl|res://*/rebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=rebtel;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="rebtelEntities" connectionString="metadata=res://*/rebModel.csdl|res://*/rebModel.ssdl|res://*/rebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=rebtel;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--
<system.servicemodel>  
    <services>  
      <service behaviorconfiguration="mexBehaviour" name="MultipleServiceContractDemo.MultipleService">  
        <endpoint address="MultipleServiceContractDemo" 
                binding="basicHttpBinding" 
                contract="MultipleServiceContractDemo.IMultiplePublicService"></endpoint>  
        <endpoint address="MultipleServiceContractDemo" 
                  binding="netTcpBinding" 
                  contract="MultipleServiceContractDemo.IMultipleConfidentialService"></endpoint>  
        <host>  
          <baseAddresses>  
            <add baseaddress="http://localhost:8080">  
            <add baseaddress="net.tcp://localhost:8090">  
          </baseAddresses>  
        </add></add></host>  
      </service>  
    </services>  
    <behaviors>  
      <servicebehaviors>  
        <behavior name="mexBehaviour">  
          <servicemetadata httpgetenabled="true">  
        </servicemetadata></behavior>  
      </servicebehaviors>  
    </behaviors>  
  </system.servicemodel>  
  -->